body {
  font-family: Helvetica, sans-serif;
  background-color: white;
}

a {
  text-decoration: none;
  color: blue;
}

a:active {
  color: rgb(0, 153, 255);
}

a:visited {
  color: rgb(0, 51, 153)
}


.dark-mode {
  background-color: black;
  color: white;
}
